/* General CSS */
.body{
    margin: 0;
    scrollbar-width: none;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar and dropdown extra styling*/
.navbar-brand{
    font-size: 1.8em;
}

.dropdown-item {
    text-align: center;
}

.input-group-text {
    border-radius: 8px;
    height: auto;
    /* border: 1px red solid; */
}

/* textarea {
    min-height: 500px;
} */

/* main content styling (email content area) */
.main-mail-section {
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 15px;
    min-height: 70vh;
    margin-top: 10px;
}

.folder-bar > * {
    min-height: 5.3em;
}

.emailList {
    padding: 0 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-wrap: break-word;
}

.emailWindow {
    border: 2px rgba(140,0,0,0.3) solid;
    background-color: rgba(140,0,0,0.2);
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.sender-name {
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 0px;
    overflow-wrap: break-word;
}

.email-subject {
    font-size: 1.1rem;
    font-weight: 700;
    overflow: hidden;
    margin-bottom: 0;
}

p {
    padding: 0px 8px;
}

.sender-preview {
    display: flex;
    align-items: center;
    min-height: 85px;
    max-height: 95px;
    padding-left: 5px;
}

i.bi-person-circle {
    display: flex;
    font-size: 2.5rem;
    padding: 0px 10px;
}

.reply-email {
    display: flex;
    justify-content: center;
}

.reply-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 1rem;
}

/* grid row and column css */
.my-row{
    height: 350px;
    width: auto;
}

.top-row {
    height: 60px;
    width: auto;
    padding: 1%;
    background-color: rgba(140,0,0,0.2);
    border-radius: 10px;
}

.my-col{
    min-height: 400px;
    align-items: stretch;
}

.top-col{
    align-items: stretch;
    min-height: 50px;
    padding-left: 1%;
}


/* Interactive components and extra styling */
.e-button {
    padding: 15px 10px;
}

a:hover {
    color: rgba(0,0,0,0.9);
}

input[type=checkbox] {
    transition: background-color 0.1s ease-in;
    clip-path: circle(42% at 50% 50%);
    background-color: rgba(154, 144, 144, 0.3);
}

input[type=checkbox]:hover {
    background-color: rgba(140,0,0,0.2);
}

.selected-1  {
    background-color: rgba(140,0,0,0.2);
}

.selected {
    transition: background-color 0.7s ease;
    overflow-wrap: break-word;
}

.selected:hover  {
    border: 1px rgba(140,0,0,0.3) solid;
    background-color: rgba(174, 174, 174, 0.121);
}

.mark-important {
    background-color: rgba(138,43,226,0.6);
}
